@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&family=Source+Sans+Pro&display=swap');

    * {
        margin: 0;
        padding: 0;
        font-family: 'Prompt', sans-serif;
    }

    h1 {
        line-height: 1.3em;
    }

    p {
        font-family: 'Source Sans Pro', sans-serif;

    }

    a {
        text-decoration: none;
        color: white;
    }

    /* navbar */
    #container {
        color: rgb(240, 240, 240);
    }

    #nav {
        position: sticky;
        top: 0;
        z-index: 5;
        height: 90px;
        background-color: #212121;
        display: flex;
        color: white;
        align-items: center;
        padding: 20px 60px;
        box-sizing: border-box;
    }

    #nav>div {
        height: 100%;
    }

    #nav>div>img {
        cursor: pointer
    }

    #nav>div:nth-child(1) {
        width: 20%;
        height: 80%;
    }

    #nav>div:nth-child(1) img {

        height: 100%;
    }

    #nav>div:nth-child(2) {
        width: 50%;
    }

    #nav ul {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10%;
        height: 100%;

    }

    #nav ul li {
        list-style-type: none;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 6px solid #212121;
      

        padding: 30px 0;
    }
    .pop_on{
        list-style-type: none;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 6px solid ;
        border-image: linear-gradient(to right, #e80c88 0%, #f15b2c 100%);
        border-image-slice: 0 0 7 0;

        padding: 30px 0;
    }
    .pop_out{
        list-style-type: none;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 6px solid #212121;
      

        padding: 30px 0;
    }

    #nav>div:nth-child(3) {
        width: 30%;
        display: flex;
        gap: 5%;
        align-items: center;
        justify-content: right;
    }

    #nav>div:nth-child(3)>div {
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 15px;

        padding: 20px 0px;
        cursor: pointer;
    }

    #nav>div:nth-child(3)>div img {
        height: 40%;
        filter: invert();


    }

    #nav>div:nth-child(3)>div button {
        color: white;
        border: 1px solid white;
        background-color: #212121;
        padding: 10px 30px;
        font-weight: bold;
        font-size: 15px;


    }

    /* navbar */

    /* header */
    #image {
        background: url("https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/generic_block_copy_c_1058486430/image-res.img.493fb6af-a344-4666-a2a0-6a96a118facd.jpg") center center/cover;
        height: 500px;
        position: relative;
    }

    #image>div {
        width: 45%;
        position: absolute;
        left: 65%;
        top: 45%;
        transform: translate(-50%, -50%);
    }

    #image h1 {
        font-size: 3.5em;


    }

    #image p {
        font-size: 1.3em;

    }

    #image button {
        height: 56px;
        width: 40%;
        font-weight: bold;
        font-size: 1.1em;
        margin: 5% 0;
        color: white;
        border: 2px solid white;

    }

    #image>div>button:nth-child(3) {

        background-color: rgba(0, 0, 0, 1);
        border: 1px solid rgb(0, 0, 0);

    }

    #image>div>button:nth-child(4) {

        background-color: rgba(0, 0, 0, 0.0);
        border: 1px solid white;
        margin-left: 1%;

    }

    /* header */

    /* box-1 */
    #box-1 {
        height: 600px;
        background-color: #000000;
        display: flex;
        padding: 100px;
        box-sizing: border-box;
    }

    #box-1>div:nth-child(1) {
        height: 100%;
        width: 60%;
        display: flex;
        gap: 30px;
        row-gap: 30px;
        flex-wrap: wrap;
        align-items: center;
    }

    #box-1>div:nth-child(1)>div {
        height: 45%;
        width: 45%;
        background-color: #222222;
        border-radius: 10px;
    }

    #box-1>div:nth-child(2) {
        color: white;
        width: 40%;
        height: 100%;
    }

    #box-1>div:nth-child(2) h3 {
        margin: 25px 0;
    }

    #box-1>div:nth-child(2) h3:nth-child(1) {
        margin: 25px 0;
        color: #e40084;
    }

    #box-1>div:nth-child(2) h1 {
        margin: 25px 0;
        font-weight: 900;

    }

    #box-1>div:nth-child(2) p {
        margin: 25px 0;
        font-weight: 500;


    }

    #box-1>div>div {
        display: flex;
    }

    #box-1>div>div>div:nth-child(1) {
        width: 70%;
        padding: 20px;
        box-sizing: border-box;

    }

    #box-1>div>div>div:nth-child(1) h3:nth-child(1) {
        color: #e40084;
    }

    #box-1>div>div>div:nth-child(1) h2 {
        margin-top: 10px;
        font-weight: 100;
    }

    #box-1>div>div>div:nth-child(1) p {
        margin-bottom: 20px;
    }

    #box-1>div>div>div:nth-child(1) span {
        color: #aaaaaa;
    }

    #box-1>div>div>div:nth-child(2) {
        width: 30%;
    }

    #box-1>div>div>div:nth-child(2) img {
        width: 100%;
    }

    /* box-1 */


    /* box-2 */
    #box-2 {
        height: 1400px;
        background-color: #181818;
        padding: 100px 80px;
        box-sizing: border-box;
    }

    #box-2>div:nth-child(1) {
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #box-2>div:nth-child(1) h3 {
        color: #e40084;
    }

    #box-2>div:nth-child(1) h1 {
        font-size: 2.3em;
    }

    #box-2>div:nth-child(2) {
        height: 90%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        gap: 30px;
    }

    #box-2>div:nth-child(2)>div {
        display: flex;
        justify-content: space-between;

    }

    #box-2>div:nth-child(2)>div:nth-child(1) div {
        height: 100%;
        width: 50%;
        background-color: #222222;

    }

    #box-2>div:nth-child(2)>div img {
        height: 20px;
    }

    #box-2>div:nth-child(2)>div h1 {
        margin: 20px 0;
        font-size: 2.2em;
    }

    #box-2>div:nth-child(2)>div p {
        font-size: 1.2em;
        color: rgb(230, 230, 230);
    }

    #box-2>div:nth-child(2)>div h3 {
        margin: 20px 0;
    }

    #box-2>div:nth-child(2)>div:nth-child(1) div:nth-child(2) img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    #box-2>div:nth-child(2)>div:nth-child(1) div:nth-child(1) {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 70px 30px;
        box-sizing: border-box;
    }

    #box-2>div:nth-child(2)>div:nth-child(2) div {
        padding: 50px 30px;
        height: 100%;
        width: 32%;
        background-color: #222222;
        box-sizing: border-box;
        border-radius: 15px;

    }

    /* box-2 */

    /* box-3 */
    #box-3 {
        height: 1700px;
        background-color: #000000;
    }

    #box-3>div:nth-child(1) {
        height: 35%;
        padding: 90px 80px;
        box-sizing: border-box;
    }

    .head h3 {
        color: #e40084;
    }

    .head h1 {
        margin: 20px 0;
    }

    #model {
        display: flex;
        height: 90%;
        justify-content: space-between;
    }

    #model>div {
        height: 100%;
        width: 24%;
    }

    #model>div img {
        width: 100%;
        border-radius: 10px;
    }

    #model>div h3 {
        color: #ffba0e;
        margin: 10px 0;
        height: 50px;
    }

    #model>div p {
        margin: 10px 0;
    }

    #box-image {
        height: 30%;
        width: 100%;
        background-color: yellow;
        display: flex;

    }

    #box-image>div:nth-child(1) {
        height: 100%;
        width: 60%;

    }

    #box-image>div:nth-child(1) img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;

    }

    #box-image>div:nth-child(2) {
        height: 100%;
        width: 40%;
        background: linear-gradient(100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        

        box-sizing: border-box;
        padding: 80px;
    }

    #box-image>div:nth-child(2) > img {
        width: 120px;        
    }

    #box-image>div:nth-child(2) > h1 {
        font-size: 28px;
    }

    #box-image>div:nth-child(2) > p {
        font-size: 17px;
    }

    #box-image>div:nth-child(2) > button {
        width: 290px;
        background-color: black;
        color: white;
        border: none;

        padding: 2%;
    }

    /* twit */
    #twit {
        height: 35%;
        padding: 90px 80px;
        box-sizing: border-box;
    }

    #twit>div:nth-child(1) {
        height: 35%;
        display: flex;
        gap: 20%;
        flex-direction: column;
        align-items: center;
    }

    #parent_slide {

        display: flex;
        justify-content: space-between;
        height: 65%;
        align-items: center;
        color: black;
    }

    #parent_slide button {
        height: max-content;
        font-size: 5em;
        color: white;
        background-color: rgba(207, 15, 15, .0);
        border: none;
        cursor: pointer;
    }

    #parent_slide>div {
        width: 28%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 8px;
        box-sizing: border-box;
    }

    #parent_slide>div>div:nth-child(1) {
        display: flex;
        gap: 2%;
        cursor: pointer;
        margin: 4%;
    }

    #parent_slide>div>div:nth-child(2) {
        margin: 4%;
        font-size: 0.8em;
        gap: 2%;
        cursor: pointer;
    }

    #parent_slide>div>div:nth-child(2) a {
        text-decoration: none;
        color: #e40084;
    }

    /* twit */

    /* box-3 */

    /* popups */
    #platform {
        position: absolute;
        top: 90px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8);
        z-index: 4;
        display: none;
        color: white;
    }

    #platform>div {
        width: 80%;
        height: 400px;
        background-image: linear-gradient(#171717, #000000);

        margin: auto;
        padding: 3%;
        box-sizing: border-box;
        display: flex;

    }


    .box {
        width: 25%;
        height: 100%;
        border-right: 1px solid rgb(131, 131, 131);

        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .box>div {
        box-sizing: border-box;
        display: flex;
        gap: 10%;
    }

    #platform p {
        font-weight: bold;

    }

    .box>div span {
        background: linear-gradient(100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);
        border-radius: 2px;
        padding: 0 5%;

    }

    #platform>div>div:nth-child(2) {
        width: 75%;
        height: 100%;

        padding: 0 2%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #platform>div>div:nth-child(2)>div:nth-child(1) {
        width: 30%;
        height: 75%;
        border: none;

    }

    #platform h4 {
        color: rgb(192, 192, 192);
        font-weight: 100;
    }

    #platform>div>div:nth-child(2)>div:nth-child(2) {
        width: 65%;
        height: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #platform>div>div:nth-child(2)>div:nth-child(2)>div {
        width: 47%;
        height: 29%;
        box-sizing: border-box;
        background-color: #222222;
        border-radius: 10px;
    }

    #platform>div>div:nth-child(2)>div:nth-child(3) {
        width: 100%;
        height: 15%;
        display: flex;
        gap: 5%;
    }

/* box-5 */
#box-5{
    height: 600px;
    background: url("https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/generic_block_1609496607/image-res.img.f024c1fc-946a-4a96-a74c-5e1974165b9e.jpg") center center/cover;
    
}

/* box-5 */

    /* footer */
    #footer{
        height: 600px;
        background-color: #222222;
        padding: 6% 5% 0;
        box-sizing: border-box;
    }
    #footer p{
        font-size: .8em;
    }
    #footer h4{
        font-size: .8em;
    }
    #footer>div:nth-child(1){
        display: flex;
        justify-content: space-between;
        height: 65%;
    }
    #footer>div:nth-child(1) div{
        display: flex;
        flex-direction: column;
    }
    #footer>div:nth-child(1) div p{
        margin: 8px 0;
        color: #7c7c7d;
        cursor: pointer;
    }
    #footer>div:nth-child(1) div p:hover{
        color: #ffffff;
    }
    #footer>div:nth-child(1) div h4{
        margin-bottom: 30px;
    }

    #footer>div:nth-child(2){
        border: 2px solid rgb(65, 65, 65);
        display: flex;
        align-items: center;
        border-left: none;
        border-right: none;
        gap: 2%;
        height: 15%;
        box-sizing: border-box;
    }
    #footer>div:nth-child(3){
        display: flex;
        align-items: center;
        height: 20%;
    }
    #footer>div:nth-child(3) div{
        display: flex;
        align-items: center;
        gap: 2%;
        height: 100%;
        flex-grow: 2;
    }
    #footer>div:nth-child(3) div:nth-child(2){
        justify-content: right;
        gap: 5%;

      
    }
    #footer>div:nth-child(3) div:nth-child(2) p{
       margin: 0 4% 0 0;
        font-weight: bold;
      
    }
    #footer>div:nth-child(3) div:nth-child(1) img{
        height: 30%;
    }
    #footer>div:nth-child(3) div:nth-child(1) p{
        color: #aaaaaa;

    }
    #footer>div:nth-child(3) div:nth-child(2) img{
        height: 20%;
    }
    /* footer */


    /* Changes by Aaditya */
        button {
            cursor: pointer;
        }

        .flex {
            display: flex;
        }

        .justifyContentSpaceEvenly {
            justify-content: space-evenly;
        }

        .fontWeight100 {
            font-weight: 100;
        }

        .gap12 {
            gap: 12px;
        }

        .fontSize15 {
            font-size: 13px;
        }

        .padding10 {
            padding: 10px;
        }



            /* popups */
            #platform3 {
                position: absolute;
                top: 90px;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, .8);
                z-index: 4;
                display: none;
                color: white;
            }

            #platform3>div {
                width: 65%;
                height: 400px;
                background-image: linear-gradient(#171717, #000000);

                margin: auto;
                padding: 3%;
                box-sizing: border-box;
                display: flex;

            }


            .box {
                width: 25%;
                height: 100%;
                border-right: 1px solid rgb(131, 131, 131);

                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .box>div {
                box-sizing: border-box;
                display: flex;
                gap: 10%;
            }

            #platform3 p {
                font-weight: bold;

            }

            .box>div span {
                background: linear-gradient(100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);
                border-radius: 2px;
                padding: 0 5%;

            }

            #platform3>div>div:nth-child(2) {
                width: 75%;
                height: 100%;

                padding: 0 2%;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
            }

            #platform3>div>div:nth-child(2)>div:nth-child(1) {
                width: 35%;
                height: 75%;
                border: none;

            }

            #platform3 h4 {
                color: rgb(192, 192, 192);
                font-weight: 100;
            }
            
            .learnMoreBtn {
                width: 200px;
                padding: 12px;
                background-color: #ec008c;
                color: white;
                font-size: 17px;
                white-space: normal;
                cursor: pointer;
                border: none;
            }

            .bgGrayImg {
                background-image: url("https://www.pluralsight.com/content/experience-fragments/pluralsight/Navigation/global-nav/master/jcr:content/root/navigation/main/nav_item_dropdown_1789622253/parsys/nav_resource/parsys/generic_block/image-res.img.5d9d4c9e-2ab3-4cd2-853f-351faa18633e.png");
                width: 100%;
                height: 90%;
                padding: 35px;              
            }

            .bgGrayImg > img {
                position: absolute;
                z-index: 1;
                width: 18%;
                margin-left: 277px;
                margin-top: 90px;
            }

            .bgGrayImg {
                color: black;
            }

            .bgGrayImg > div {
                position: relative;
                z-index: 1;

                display: flex;
                flex-direction: column;
                gap: 18px;
            }
            /* popups */



            /* popups */
            #platform2 {
                position: absolute;
                top: 90px;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, .8);
                z-index: 4;
                display: none;
                color: white;
            }

            #platform2>div {
                width: 30%;
                height: 250px;
                background-image: linear-gradient(#171717, #000000);

                margin: auto;
                padding: 2%;
                box-sizing: border-box;
                display: flex;
            }

            #platform2 img {
                width: 130px;
            }

            #platform2>div>div {
                display: flex;
                justify-content: space-between;
                gap: 40px;
            }

            #platform2>div>div>div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;
            }
            
            hr {
                border: 1px solid #363638;
                width: 100%;
            }

            #verticalLine {
                border: 1px solid #363638;
                height: 100%;
            }

            #platform2 h4 {
                font-size: 16px;
                font-weight: 600;
            }
            /* popups */


            /* popups */
            #platform4 {
                position: absolute;
                top: 90px;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, .8);
                z-index: 4;
                display: none;
                color: white;
            }

            #platform4>div {
                width: 25%;
                height: 180px;
                background-image: linear-gradient(#171717, #000000);

                margin-left: auto;
                padding: 2.5%;
                box-sizing: border-box;
                display: flex;
            }

            #platform4 img {
                width: 130px;
            }

            #platform4>div>div {
                display: flex;
                justify-content: space-between;
                gap: 40px;
            }

            #platform4>div>div>div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;
            }
            
            hr {
                border: 1px solid #363638;
                width: 100%;
            }

            #verticalLine {
                border: 1px solid #363638;
                height: 100%;
            }

            #platform4 h4 {
                font-size: 16px;
                font-weight: 600;
            }


            #platform p,
            #platform2 p,
            #platform3 p,
            #platform4 p{
                cursor: pointer;
            }

            #platform2 h4,
            #platform2 img{
                cursor: pointer;
            }

            #platform4 h4,
            #platform4 img{
                cursor: pointer;
            }

    /* Changes by Aaditya */