@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400&family=Source+Sans+Pro&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}
p {
    font-family: "Source Sans Pro", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #181818;
}
#atBarBlog{
    position: sticky;
    top: 90px;
    /* z-index: 1; */
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 23% 20% 30% 23%;
    grid-gap: 3%;
    font-weight: 600;
    background-color: black;
    color: white;
}
#atBarBlog>div{
    cursor: pointer;
}

#articleDiv1{
    background-color: #222;
    margin: 35px 14px 60px 14px;
    height: 422px;
}
#articleDiv1>div{
    display: inline-block;
    vertical-align: top;
}
#articleDiv1_1{
    color: white;
    width: 34%;
}
#articleDiv1_2{
    width: 65%;
}
#articleDiv1_2 img{
    width: 100%;
}
#topArt{
    padding: 24px 0px 0px 24px;
}
#artDiv1TArtHTxt{
    color:#ec008c; 
    font-weight: 500;
    margin-bottom: 5px;
}
#artDiv1TArtBTxt{
    font-size: 34px;
    font-weight: 500;
}
.articleDiv2Cls{
    display: grid;
    grid-template-columns: 31.3% 31.3% 31.3%;
    grid-gap: 2.7%;
    margin: 0px 10px 90px 10px;
}
explTechDvTxt
.articleDiv2Cls>div{
    background-color: #222;
}
.articleDiv2Cls img{
    width: 100%;
}
.CommnArticleTxt{
    color: #ec008c;
    margin-bottom: 10px;
}
.CommnHeadingTxt{
    font-weight: 550;
    color: white;
    margin-bottom: 10px;
}
.CommonSummryTxt{
    color: rgb(163, 162, 162);
}
.text_container{
    padding: 20px 30px 20px 30px;
}
.commonArticleBreak>div{
    display: inline-block;
}
.explTechDvTxt{
    font-size: 23px;
    font-weight: 600;
    color: white;
    margin: 0px 15px 0px 15px;
    margin-bottom: 25px;
}
.explTechDvLine1{
    border-bottom: 2px solid #4cb272;
    width: 28%;
    margin-right: -4px;
    vertical-align: middle;
}
.explTechDvLine2{
    border-bottom: 2px solid #555;
    width: 44%;
    vertical-align: middle;
}
.explTechDvScroll{
    color: #4cb272;
    margin-left: 10px;
}
.explTechDvIcn{
    color: #4cb272;
    font-size: 10px;
    /* margin-left: 10px; */
}

.SecndLineBlue{
    border-bottom: 2px solid #0084bd;
}
.SecondScrlBlue{
    color: #0084bd;
}

.thirdLineYello{
    border-bottom: 2px solid #f7a614;
    width: 19%;
}
.thirdLine2Width{
    width: 43%;
}
.thirdScrlYello{
    color: #f7a614;;
}
.articleDiv5Cls{
    display: grid;
    grid-template-columns: 48.4% 48.4%;
    grid-gap: 2.7%;
    margin: 0px 10px 90px 10px;
}
.fourthLine2Width{
    width: 42%;
}

.fourthLineRed{
    border-bottom: 2px solid #f15b2a;
}
.fourthScrlYello{
    color: #f15b2a;
}


