* {
    font-family: 'Prompt', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    letter-spacing: 0.1em;
    background-color: black;
    color: white;
    width: 99vw;
}

.container {
    margin: 0%;
    width: 80vw;
}

.containerFluid {
    margin: 0%;
    width: 99vw;
}

.flex {
    display: flex;
}

.backgroundImg {
    background-image: url("https://www.pluralsight.com/content/pluralsight/en/product/skills/jcr:content/main/generic_block1_copy_/image-res.img.9791782a-3039-4f31-8110-b42ab888542c.png");
    width: 98.6vw;
    height: 50vh;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right, top;
}

.skillsImg {
    margin: 0% auto 0% auto;
    width: 80vw;
}

.skillsImg > img {
    display: flex;

    margin: 0%;
    /* display: flex;
    background-image: url("");
    background-repeat: no-repeat; */
    /* padding: 2.5%; */
    padding-left: 2.5%;
    padding-top: 2.5%;
    width: 8vw;
    height: auto;
}

.skillsImg > img:nth-child(2) {
    margin: -1.5% 0% 0% 0%;
    padding: 0% 0% 0% 2.5%;
    width: 12vw;
}

.heading {
    position: absolute;
    margin: 7% 0% 0% 15%;
}

.heading > h1 {
    font-size: 3rem;
    font-weight: 900;
}

.heading > h1,
.heading > h4 {
    margin: 0%;
    display: inline-block;
}

.heading > h4 {
    font-weight: 400;
    display: inline-block;
}

.tryForFreeBtn {
    position: absolute;
    width: 270px;
    padding: 1%;
    background-image: linear-gradient(to right, #f05a28, #ec008c);
    color: white;
    font-size: 17px;
    white-space: normal;
    margin: 20% 0% 0% 15%;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    /* transition: all 1s linear;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 1s;
    animation: 1s linear */

    /* transition: all 3s linear; */
}

.tryForFreeBtn::before {
    background-image: linear-gradient(to right, #f05a28, #ec008c);
    transition: 3s;
}

.tryForFreeBtn:hover {
    /* background-image: linear-gradient(to right, #ee1f6a, #f05a29); */
    /* transition: all 3s linear; */

    /* box-shadow: 0 10px 30px rgb(0 0 0 / 40%); */

    /* animation-name: colorChange;
    animation-duration: 3s;
    transition-timing-function: ease-in-out; */

    animation: colorChange 3s linear infinite;
}

@keyframes colorChange {
    0% {
        /* background: linear-gradient(to right, #f05a28, #ec008c); */
        background: #f05a28;
    }
    50% {
        /* background: linear-gradient(to right, #f05a28, #ec008c, #f05a28); */
        background: #ec008c;
    }
    100% {
        /* background: linear-gradient(to right, #ee1f6a, #f05a29); */
        background: #f05a28;
    }
}

.courseSkillsDiv {
    padding: 3% 0% 0% 0%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.bigCard {
    box-sizing: border-box;
    margin: auto;
    background-color: #222222;
    text-align: center;
    border-radius: 15px;
    padding: 5%;
}

.bigCard > h4 {
    color: #e40084;
}

.mediumCard {
    width: 80vw;
    display: flex;
    margin: auto;
    gap: 5%;
    /* justify-content: space-evenly; */
}

.overFlowWrapBreakWords {
    overflow-wrap: break-word;
    /* word-wrap: break-word; */
}

.courseLibraryImg {
    flex-basis: 40%;
}

.courseLibrary {
    text-align: left;
    flex-basis: 40%;
}

.courseLibrary > h4 {
    color: #e40084;
}

.courseLibraryFeatures {
    display: grid;
    grid-template-columns: auto auto;
}

.courseLibraryFeatures > p {
    margin: 1%;
    font-weight: 100;
}

.compareOurLibraries > h2 {
    padding-top: 5%;
    text-align: left;
}

.compareOurLibraries > div:nth-child(2) {
    display: flex;
    gap: 10%;
    text-align: left;
}

.exploreBar {
    margin: 5% auto auto auto;
    display: flex;
    gap: 10%;
    background-image: linear-gradient(to right, #f05a28, #ec008c);
    width: 70vw;
    height: 7vh;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.exploreBar > button {
    background-color: #181818;
    color: white;
    border: none;
    width: 340px;
    height: 60px;
}
.exploreBar > button > h3 {
    margin: 0%;
}

.featuresOfSkills {
    margin-top: 6%;
}

.featuresOfSkills > h4 {
    color: #e40084;
}

.featuresOfSkills > p {
    width: 50%;
    margin: auto;
}

.tools {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2%;
    row-gap: 5%;
}

.tool {
    background-color: #363636;
    padding: 3%;
    border-radius: 10px;
}

.tool > p {
    font-weight: 100;
}

.punchLine {
    margin-top: 15%;
}

.brandBar {
    display: flex;
    gap: 12%;
    justify-content: center;
}

.topDiv {
    position: relative;
}

.imediateRoi {
    margin: -6% auto auto auto;
    padding-top: 8%;
    width: 99vw;
    height: 105vh;
    background-image: linear-gradient(to right, #ed1a70, #f15630);
}

.imediateRoi > h1 {
    text-align: center;
    font-size: 2.5em;
}

.imediateRoi > p {
    color: black;
    width: 70%;
    margin: auto;
    text-align: center;
    font-weight: 100;
}

.roiCards {
    display: grid;
    grid-template-columns: 26.6% 26.6% 26.6%;
    grid-template-rows: auto auto;
    gap: 9%;

    width: 50vw;
    margin: auto;
    padding: 5%;
}

.roiCard {
    text-align: center;
}

.roiCard > img {
    width: 10vw;
}

.roiCard > p {
    color: black;
    font-weight: 100;
    font-size: 13px;
}

.roiCards > h4 {
    color: black;
    text-align: center;
    margin: auto;
}

.comment {
    padding: 8% 0% 0% 9%;
    display: flex;
    width: 80vw;
    margin: auto;
    gap: 5%;
}

.comment > div:nth-child(1),
.comment > div:nth-child(2) {
    flex-basis: 40vw;
}

.plansAndPricingDiv {
    padding-top: 5%;
    background-color: #181818;
    width: 80vw;
    margin: auto;
}

.plansAndPricingDiv > h4 {
    color: #e40084;
    text-align: center;
}
.plansAndPricingDiv > h1 {
    text-align: center;
}

.priceCards {
    padding-top: 5%;
    display: flex;
    gap: 5%;
    text-align: center;
}

.priceCard {
    background-color: #222222;
    flex-basis: 26.6%;
    padding: 3%;
}

.getStartedBtn {
    width: 210px;
    height: 60px;
    padding: 3%;
    background-image: linear-gradient(to right, #f05a28, #ec008c);
    color: white;
    font-size: 17px;
    white-space: normal;
    cursor: pointer;
    border: none;

    transition: all 3s linear;
}

.getStartedBtn:hover {
    animation: 3s linear 0s infinite colorChange;
}

.checkMark {
    width: 8px;
    height: 20px;
    border: solid #ec008c;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translateX(-50%);
    position: relative;
    left: 50%;
}

.planTable {
    width: 80vw;
    margin: auto;
}

.planTable > table {
    padding: 3%;
    /* border: 1px solid yellow; */
    width: 80vw;
}

.planTable > table img {
    width: 7%;
}

.planTable > table > tbody {
    text-align: center;
}

.planTable > table > tbody > tr > td:nth-child(1),
.planTable > table > thead th:nth-child(1) {
    text-align: left;
    width: 30vw;
}

td,
th {
    padding: 1%;
}

.buyNow {
    width: 210px;
    height: 60px;
    padding: 3%;
    background-image: linear-gradient(to right, #f05a28, #ec008c);
    color: white;
    font-size: 17px;
    white-space: normal;
    cursor: pointer;
    border: none;

    transition: all 3s linear;
}

.buyNow:hover {
    animation: 3s linear 0s infinite colorChange;
}

.colorPink {
    color: #ec008c;
}

.collapsiblesDiv {
    display: flex;
    width: 80vw;
    margin: auto;
    padding: 10%;
    justify-content: space-around;
}

.collapsibleBtns {
    display: flex;
    flex-direction: column;
}

.collapsibleBtns > button {
    border-top: 0;
    border-right: 0;
    border-bottom: 5% solid yellow;
    border-left: 0;
    color: white;
    background-color: black;
}

/* Css for collapsible div */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 40vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}

.collapsible::after {
    content: "\25BE";
    float: right;
}

.collapsibleActive {
    background-color: #555555;
}

.collapsibleActive::after {
    content: "\25B4";
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    width: 38vw;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: black;
}


.endPage {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.endPage > div:nth-child(1),
.endPage > div:nth-child(2) {
    flex-basis: 25vw;
}

.endPageButtons {
    width: 300px;
    height: 60px;
    padding: 3% 5% 3% 5%;
    background-image: linear-gradient(to right, #f05a28, #ec008c);
    color: white;
    font-size: 17px;
    white-space: normal;
    cursor: pointer;
    border: none;

    transition: all 3s linear;
}