* {
    font-family: "Prompt", sans-serif;
}

body {
    letter-spacing: 0.1em;
    background-color: #181818;
    color: white;
    width: 99vw;
}

.topDiv {
    padding: 4% 0% 0% 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
    margin: auto;
}

.topDiv > h1 {
    font-weight: 900;
    font-size: 3.2rem;
}

.individualAndTeamBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individualAndTeamBtns > div {
    margin: 1%;
}

/* button group 1 */
.buttonGroup1 {
    display: flex;
    justify-content: space-around;

    background-color: black;
    border: 1px solid gray;
    /* position: absolute; */
    width: 415px;
    height: 70px;
    /* top: 40%;
    left: 40%; */
    border-radius: 50px;

    transition: all 0.5s ease-in-out;
}

.individualBtn {
    position: relative;
    display: flex;
    align-items: center;

    color: gray;
    font-size: 15px;
    font-weight: 900;

    cursor: pointer;
}

.innerOval {
    background-color: #4e4c4c;

    position: absolute;
    margin-right: 207.75px;
    width: 207.5px;
    height: 70px;

    border-radius: 50px;
    opacity: 0.6;
    cursor: pointer;

    transition: all 0.5s ease-in-out;
}

.buttonGroup1.active {
    background: #363636;
}

.buttonGroup1.active > .innerOval {
    margin-left: 411px;
}

.teamBtn {
    position: relative;

    display: flex;
    align-items: center;

    color: gray;
    font-size: 15px;
    font-weight: 900;

    cursor: pointer;
}
/* button group 1 end */

/* button group 2 */
.buttonGroup2 {
    display: flex;
    align-items: center;
    gap: 15px;

    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    transform: translate(-50, -50);
}

.toggleBtn {
    width: 70px;
    height: 25px;
    background: #363636;
    border-radius: 30px;
    padding: 3px;

    transition: all 0.5s ease-in-out;
}

.toggleBtn > .innerCircle {
    width: 30px;
    height: 25px;
    background: white;
    border-radius: 50%;

    transition: all 0.5s ease-in-out;
}

.toggleBtn.active {
    background: #363636;
}

.toggleBtn.active > .innerCircle {
    margin-left: 45px;
}
/* button group 2 end */

.pricingCards {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    text-align: center;
}

.pricingCards > .standardPricingCard > h4 {
    margin: 8.5% 0% 8.5% 0%;
}

.standardPricingCard,
.premiumPricingCard {
    flex-basis: 20vw;
}

.premiumPricingCard {
    margin: -40px;
}

.premiumPricingCard > .opportunityLabel {
    background-color: #f7a614;
    color: black;
}

.pricingCardBtn {
    width: 270px;
    height: 50px;
    padding: 1%;
    background-image: linear-gradient(to right, #f05a28, #ec008c);
    color: white;
    font-size: 17px;
    white-space: normal;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.pricingCardBtn::before {
    background-image: linear-gradient(to right, #f05a28, #ec008c);
    transition: 3s;
}

.pricingCardBtn:hover {
    animation: colorChange 3s linear infinite;
}

@keyframes colorChange {
    0% {
        background: #f05a28;
    }
    50% {
        background: #ec008c;
    }
    100% {
        background: #f05a28;
    }
}
