@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400&family=Source+Sans+Pro&display=swap");
* {
    font-family: "Prompt", sans-serif;
}

p {
    font-family: "Source Sans Pro", sans-serif;
}

h1 {
    line-height: 1.3em;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #111;
    color: white;
}
#sub_blk {
    width: 65%;
    margin: auto;
}
.title_pink{
    color: #e40084!important;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
}
.title_center {
    color: #fff;
    text-align: center;
    margin-bottom: 0!important;
    margin-top: 0!important;
    font-size: 56px;
    line-height: 100%;
    font-family: sans-serif;
}
.spacer {
    height: 40px;
}
.material-icons {
padding: 0%;
margin: 0%; 
}
#subs_row {
width: 90%;
margin: auto;
display : grid;
grid-template-columns: repeat(2, 48.5%);
grid-gap: 3%;
color: #eee !important;
}
#subs_row > div {
    background-color: #222;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align:center;
}
.skill_spacer {
    height: 20px;
}
.logo_skill {
    height: 30px;
}
.skill_text {
    width: 82%;
    margin: auto;
    font-size: 17;
}
.content {
    color: #eee;
    text-decoration: none;
    border: none;
    padding: 18px 60px;
    background-size: 300% 100%;
    transition: all .6s ease-in-out;
    background-image: linear-gradient(to right,#F05A28,#EC008C,#F05A28);
    font-size: 15px;
    letter-spacing: 0.5px;
}
.content:hover, content:focus, .content:focus {
    box-shadow: 0 10px 30px rgb(0 0 0 / 40%);
    background: linear-gradient(145deg, #EC008C 15%, #F05A28 80%);
    color: #fff;
    cursor: pointer;
}
.learn_link > button >div {
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
}
a {
    text-decoration: none;   
    color: #fff; 
    width: 80%;
    padding: 15px 0px 0px 15px;
}
.arrow:hover {
    margin-left: 8px;
}
.learn:hover {
    margin-right: 8px;
}
.content2 {
    color: #eee;
    text-decoration: none;
    border: none;
    padding: 18px 60px;
    background-size: 300% 100%;
    transition: all .6s ease-in-out;
    background-image: linear-gradient(to right,#2556A3,#2393D4,#2556A3);
    font-size: 15px;
    letter-spacing: 0.5px;
}
.content2:hover, content2:focus, .content2:focus {
    box-shadow: 0 10px 30px rgb(0 0 0 / 40%);
    background: linear-gradient(145deg, #2393D4 15%, #2556A3 80%);
    color: #fff;
    cursor: pointer;
}
button {
    background-color: #222;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0px;
}
.learn_link:hover {
    cursor: pointer;
}
.arrow {
    padding: 0%;
    margin: 0%;
    color: #e40084;
}
@media (max-width: 768px){
    #sub_blk {
        width: 95%;
    }
    .content2 {
        margin-top:6%;
    }
   
}
@media (max-width: 600px){
    #sub_blk {
        width: 95%;
    }
    .title_center {
        font-size: 40px;
        line-height: 100%;
    }
    .spacer {
        height: 20px;
    }
    #subs_row {
    width: 90%;
    margin: auto;
    display : grid;
    grid-template-columns:90%;
    grid-gap: 3%;
    }
    #subs_row > div {
        margin-left: 10%;
    }
    
}